              <div class="panel">
                  <div class="panel-body" style="height:170px;">
                      <div class="col-md-6 col-sm-12">
                        <h3 class="animated fadeInLeft">Campus Social</h3>
                        <p class="animated fadeInDown"><span class="fa  fa-map-marker"></span> Ecole Superieur Polytechnique,Dakar</p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="col-md-6 col-sm-6 text-right" style="padding-left:10px;">
                          <h3 style="color:#DDDDDE;"><span class="fa  fa-map-marker"></span> Dakar</h3>
                          <h1 style="margin-top: -10px;color: #ddd;">24<sup>o</sup></h1>
                        </div>
                        <div class="col-md-6 col-sm-6">
                           <div class="suny">
                                    <div class="stormy sun animated pulse infinite">
                                    </div>                             
                                    <div class="mount"></div>
                                    <div class="mount mount1"></div>
                                    <div class="mount mount2"></div>
                                </div>
                        </div>                   
                    </div>
                  </div>                    
              </div>
               
              <div class="col-md-12 padding-0">
                                <div class="col-md-3 ">
                                    <div class="panel box-v1 bg-light-blue text-white hoverable">
                                      <div class="panel-heading bg-light-blue border-none">
                                        <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                          <h4 class="text-left text-white">Pavillon A</h4>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                           <h4>
                                           <span class="fa fa-building-o icons icon text-right text-white"></span>
                                           </h4>
                                        </div>
                                      </div>
                                      <div class="panel-body text-center">
                                        <h1>51</h1>
                                        <p>Places Restant</p>
                                        <hr/>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel box-v1 bg-light-blue text-white hoverable">
                                      <div class="panel-heading bg-light-blue border-none">
                                        <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                          <h4 class="text-left text-white">Pavillon B</h4>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                           <h4>
                                           <span class="fa fa-building-o icons icon text-right text-white"></span>
                                           </h4>
                                        </div>
                                      </div>
                                      <div class="panel-body text-center">
                                        <h1>22</h1>
                                        <p>Places Restant</p>
                                        <hr/>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel box-v1 bg-light-blue text-white hoverable">
                                      <div class="panel-heading bg-light-blue border-none">
                                        <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                          <h4 class="text-left text-white">Pavillon C</h4>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                           <h4>
                                           <span class="fa fa-building-o icons icon text-right text-white"></span>
                                           </h4>
                                        </div>
                                      </div>
                                      <div class="panel-body text-center">
                                        <h1>30</h1>
                                        <p>Places Restant</p>
                                        <hr/>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel box-v1 bg-light-blue text-white hoverable">
                                      <div class="panel-heading bg-light-blue border-none">
                                        <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                          <h4 class="text-left text-white">Pavillon F</h4>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                           <h4>
                                           <span class="fa fa-building-o icons icon text-right text-white"></span>
                                           </h4>
                                        </div>
                                      </div>
                                      <div class="panel-body text-center">
                                        <h1>15</h1>
                                        <p>Places Restant</p>
                                        <hr/>
                                      </div>
                                    </div>
                                </div>
              </div>
              <div class="col-md-12">
                <div class="panel">
                       <div class="panel-heading-white panel-heading">
                          <h4>Statistique Global en Bar</h4>
                       </div>
                       <div class="panel-body">
                            <div class="col-md-12">
                             <canvas class="bar-chart"></canvas>
                            </div>
                       </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel">
                       <div class="panel-heading-white panel-heading">
                          <h4>Statistique Global en Bar</h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                             <canvas class="bar-chart"></canvas>
                            </div>
                        </div>
                  </div>
              </div>
              <div class="col-md-6">
                <div class="panel">
                       <div class="panel-heading-white panel-heading">
                          <h4>Statistique Global en Bar</h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                             <canvas class="bar-chart"></canvas>
                            </div>
                        </div>
                  </div>
              </div>
                