<div>
        <div class="tabs-wrapper text-center">             
            <div class="panel box-shadow-none text-left content-header">
                  <div class="panel-body" style="padding-bottom:0px;">
                    <div class="col-md-12">
                        <h3 class="animated fadeInLeft"><span class="fa fa-building-o"></span> Echange Chambre</h3>
                        <p class="animated fadeInDown">
                          Selectionner la chambre et la perssonne avec qui vous voulez echanger...!  
                          <span class="fa-angle-right fa"></span>
                        </p>
                    </div>
                    <ul id="tabs-demo" class="nav nav-tabs nav-tabs-v3 content-header-tab " role="tablist" style="padding-top:10px;">
                      <li role="presentation" class="active">
                          <a href="#tabs-area-demo" id="tabs2" data-toggle="tab">  Pavillon A</a>
                      </li>
                      <li role="presentation" class="">
                        <a href="#panels-area-demo" id="tabs2" data-toggle="tab">Pavillon B</a>
                      </li>
                      <li role="presentation" class="">
                        <a href="#panels-area-demo" id="tabs2" data-toggle="tab">Pavillon C</a>
                      </li>
                      <li role="presentation" class="">
                        <a href="#panels-area-demo" id="tabs2" data-toggle="tab">Pavillon F</a>
                      </li>
                    </ul>
                  </div>
            </div>
            <div class="col-md-12 tab-content">

              <div role="tabpanel" class="tab-pane fade active in" id="tabs-area-demo" aria-labelledby="tabs1">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <div class="col-md-12 tabs-area">
                      <div class="liner"></div>
                      <ul class="nav nav-tabs nav-tabs-v5" id="tabs-demo6">
                        <li class="active">
                          <a href="#tabs-demo6-area1" data-toggle="tab" title="welcome">
                            <span class="round-tabs three hoverable">
                            <i class="fa fa-th"><br>Etage 1</i>   
                            </span> 
                          </a>
                        </li>

                        <li>
                          <a href="#tabs-demo6-area2" data-toggle="tab" title="profile">
                          <span class="round-tabs three hoverable">
                            <i class="fa fa-th"><br>Etage 2</i>   
                            </span> 
                        </a>
                        </li>

                        <li>
                        <a href="#tabs-demo6-area3" data-toggle="tab" title="bootsnipp goodies">
                        <span class="round-tabs three hoverable">
                            <i class="fa fa-th"><br>Etage 3</i>   
                        </span> 
                        </a>
                        </li>

                        <li>
                        <a href="#tabs-demo6-area4" data-toggle="tab" title="blah blah">
                          <span class="round-tabs three hoverable">
                              <i class="fa fa-th"><br>Etage 4</i>   
                          </span> 
                        </a>
                        </li>

                        <li>
                          <a href="#tabs-demo6-area5" data-toggle="tab" title="completed">
                          <span class="round-tabs three hoverable">
                                <i class="fa fa-th"><br>Etage 5</i>   
                          </span> 
                          </a>
                        </li>
                      </ul>
                      <div class="tab-content tab-content-v5">
                        <div class="tab-pane fade in active" id="tabs-demo6-area1">

                          <h3 class="head text-center">Etage<span style="color:dodgerblue;">1</span></h3>
                          <div class="col-md-2 ">
                            <div class="panel bg-light-grey text-blue hoverable" data-toggle="modal" data-target="#exampleModal">
                                  <div class="bg-white">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center text-blue">
                                          <h1>
                                            <span class="glyphicon glyphicon-door "></span>
                                          </h1>
                                        </div>
                                  </div>          
                                  <div class="panel-body text-center" style="color:dodgerblue;">
                                    <p>45</p>
                                  </div>
                            </div>
                          </div>
                          <div class="col-md-2 ">
                              <div class="panel bg-light-grey text-blue hoverable">
                                  <div class="bg-white">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center text-blue">
                                          <h1>
                                            <span class="fa fa-home "></span>
                                          </h1>
                                        </div>
                                  </div>          
                                  <div class="panel-body text-center" style="color:dodgerblue;">
                                    <p>45</p>
                                  </div>
                            </div>
                          </div>
                          <div class="col-md-2 ">
                              <div class="panel bg-light-grey text-blue hoverable">
                                  <div class="bg-white">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center text-blue">
                                          <h1>
                                            <span class="fa fa-home "></span>
                                          </h1>
                                        </div>
                                  </div>          
                                  <div class="panel-body text-center" style="color:dodgerblue;">
                                    <p>45</p>
                                  </div>
                            </div>
                          </div>
                          <div class="col-md-2 ">
                              <div class="panel bg-light-grey text-blue hoverable">
                                  <div class="bg-white">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center text-blue">
                                          <h1>
                                            <span class="fa fa-home "></span>
                                          </h1>
                                        </div>
                                  </div>          
                                  <div class="panel-body text-center" style="color:dodgerblue;">
                                    <p>45</p>
                                  </div>
                            </div>
                          </div>
                          <div class="col-md-2 ">
                              <div class="panel bg-light-grey text-blue hoverable">
                                  <div class="bg-white">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center text-blue">
                                          <h1>
                                            <span class="fa fa-home "></span>
                                          </h1>
                                        </div>
                                  </div>          
                                  <div class="panel-body text-center" style="color:dodgerblue;">
                                    <p>45</p>
                                  </div>
                            </div>
                          </div>
                          <div class="col-md-2 ">
                              <div class="panel bg-light-grey text-blue hoverable">
                                  <div class="bg-white">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center text-blue">
                                          <h1>
                                            <span class="fa fa-home "></span>
                                          </h1>
                                        </div>
                                  </div>          
                                  <div class="panel-body text-center" style="color:dodgerblue;">
                                    <p>45</p>
                                  </div>
                            </div>
                          </div>
                          <div class="col-md-2 ">
                              <div class="panel bg-light-grey text-blue hoverable">
                                  <div class="bg-white">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center text-blue">
                                          <h1>
                                            <span class="fa fa-home "></span>
                                          </h1>
                                        </div>
                                  </div>          
                                  <div class="panel-body text-center" style="color:dodgerblue;">
                                    <p>45</p>
                                  </div>
                            </div>
                          </div>
                          <div class="col-md-2 ">
                              <div class="panel bg-light-grey text-blue hoverable">
                                  <div class="bg-white">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center text-blue">
                                          <h1>
                                            <span class="fa fa-home "></span>
                                          </h1>
                                        </div>
                                  </div>          
                                  <div class="panel-body text-center" style="color:dodgerblue;">
                                    <p>45</p>
                                  </div>
                            </div>
                          </div>
                          <div class="col-md-2 ">
                              <div class="panel bg-light-grey text-blue hoverable">
                                  <div class="bg-white">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center text-blue">
                                          <h1>
                                            <span class="fa fa-home "></span>
                                          </h1>
                                        </div>
                                  </div>          
                                  <div class="panel-body text-center" style="color:dodgerblue;">
                                    <p>45</p>
                                  </div>
                            </div>
                          </div>
                          <div class="col-md-2 ">
                              <div class="panel bg-light-grey text-blue hoverable">
                                  <div class="bg-white">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center text-blue">
                                          <h1>
                                            <span class="fa fa-home "></span>
                                          </h1>
                                        </div>
                                  </div>          
                                  <div class="panel-body text-center" style="color:dodgerblue;">
                                    <p>45</p>
                                  </div>
                            </div>
                          </div>
                          <div class="col-md-2 ">
                              <div class="panel bg-light-grey text-blue hoverable">
                                  <div class="bg-white">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center text-blue">
                                          <h1>
                                            <span class="fa fa-home "></span>
                                          </h1>
                                        </div>
                                  </div>          
                                  <div class="panel-body text-center" style="color:dodgerblue;">
                                    <p>45</p>
                                  </div>
                            </div>
                          </div>
                          <div class="col-md-2 ">
                              <div class="panel bg-light-grey text-blue hoverable">
                                  <div class="bg-white">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center text-blue">
                                          <h1>
                                            <span class="fa fa-home "></span>
                                          </h1>
                                        </div>
                                  </div>          
                                  <div class="panel-body text-center" style="color:dodgerblue;">
                                    <p>45</p>
                                  </div>
                            </div>
                          </div>
                          <div class="col-md-2 ">
                              <div class="panel bg-light-grey text-blue hoverable">
                                  <div class="bg-white">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center text-blue">
                                          <h1>
                                            <span class="fa fa-home "></span>
                                          </h1>
                                        </div>
                                  </div>          
                                  <div class="panel-body text-center" style="color:dodgerblue;">
                                    <p>45</p>
                                  </div>
                            </div>
                          </div>
                          <div class="col-md-2 ">
                              <div class="panel bg-light-grey text-blue hoverable">
                                  <div class="bg-white">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center text-blue">
                                          <h1>
                                            <span class="fa fa-home "></span>
                                          </h1>
                                        </div>
                                  </div>          
                                  <div class="panel-body text-center" style="color:dodgerblue;">
                                    <p>45</p>
                                  </div>
                            </div>
                          </div>
                          <div class="col-md-2 ">
                              <div class="panel bg-light-grey text-blue hoverable">
                                  <div class="bg-white">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center text-blue">
                                          <h1>
                                            <span class="fa fa-home "></span>
                                          </h1>
                                        </div>
                                  </div>          
                                  <div class="panel-body text-center" style="color:dodgerblue;">
                                    <p>45</p>
                                  </div>
                            </div>
                          </div>
                          <div class="col-md-2 ">
                              <div class="panel bg-light-grey text-blue hoverable">
                                  <div class="bg-white">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center text-blue">
                                          <h1>
                                            <span class="fa fa-home "></span>
                                          </h1>
                                        </div>
                                  </div>          
                                  <div class="panel-body text-center" style="color:dodgerblue;">
                                    <p>45</p>
                                  </div>
                            </div>
                          </div>
                          <div class="col-md-2 ">
                              <div class="panel bg-light-grey text-blue hoverable">
                                  <div class="bg-white">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center text-blue">
                                          <h1>
                                            <span class="fa fa-home "></span>
                                          </h1>
                                        </div>
                                  </div>          
                                  <div class="panel-body text-center" style="color:dodgerblue;">
                                    <p>45</p>
                                  </div>
                            </div>
                          </div>
                          
                        </div>
                        
                        <div class="clearfix"></div>
                      </div>
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Chambre 45C</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              
                              <div class="row">
                                <div class=" col-md-12 " style="margin-left:200px;">
                                  <button class="btn btn-primary btn-3d btn-login" style="margin-left:20px;">
                                        Demande d'echange
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade active in" id="panels-area-demo" aria-labelledby="tabs1">
              </div> 

            </div>
        </div>
</div>